<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Поступивспо.новосиб</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/style.css">
</head>

<body>

  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Обзор</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Настройки</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis"></a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Вузы</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="поиск" class="form-control" placeholder="Поиск..." aria-label="Поиск">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Интересы</a></li>
            <li><a class="dropdown-item" href="#">Настройки</a></li>
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Выход</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <h3 align="center"> Топ 5 колледжей для поступления IT специалисту</h3>
  <div class="d-flex justify-content-center mt-5">


    <div id="carouselExampleDark" class="carousel slide w-50">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img height="500" src="https://img.tourister.ru/files/1/1/1/8/9/7/2/0/original.jpg" class="d-block w-100"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Московский техникум космического приборостроения (МТКП) МГТУ им. Н.Э. Баумана</h5>
            <p>государственное учебное заведение
              среднего специального образования, проводившее подготовку по специальностям компьютерного и
              радиоаппаратостроительного профилей.
              Московский техникум космического приборостроения — это, единственный в России техникум, ведущий
              подготовку по всему спектру специальностей,
              связанных с автоматическими системами управления летательных аппаратов, вычислительной техникой и её
              программным обеспечением.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img height="500"
            src="https://avatars.mds.yandex.net/get-altay/1938323/2a0000017bbf828f958d4f95e1220f828bea/XXXL"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Колледж при Университете «Синергия»</h5>
            <p>Колледж «Синергии» обеспечивает качественную довузовскую подготовку. Сюда поступают как для базового
              освоения профессии,
              так и перед получением высшего образования.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img height="500" src="https://upload.wikimedia.org/wikipedia/commons/6/66/MTUSI.jpg" class="d-block w-100"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Колледж телекоммуникаций Московского технического университета связи и информатики (МТУСИ). </h5>
            <p>Колледж телекоммуникаций МТУСИ является структурной единицей Московского технического университета
              связи и информатики.
              КТ МТУСИ является федеральным колледжем и более 100 лет готовит специалистов в области программирования,
              информационной безопасности
              и инновационных технологий проводных и беспроводных систем связи. Выпускники колледжа востребованы в
              ведущих компаниях Москвы и
              регионов России в отрасли инфокоммуникационных технологий и IT.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img height="500"
            src="https://avatars.mds.yandex.net/get-altay/859900/2a0000015e614f90e0d366059f6b72ef3e7e/XXXL"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Санкт-Петербургский колледж телекоммуникаций им. Бонч-Бруевича</h5>
            <p> известный и инновационный вуз России в сфере связи и телекоммуникаций, при котором основан колледж
              телекоммуникаций
              Санкт-Петербурга. Вуз и колледж готовят высококлассных специалистов в области телекоммуникаций,
              владеющих фундаментальными
              знаниями и прикладными методами, способных решать научно-технические задачи и принимать решения. Колледж
              – активный участник
              сетевой академии Cisco, награжден за вклад в подготовку специалистов и является лауреатом конкурса «100
              лучших ссузов России»..</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img height="500" src="https://sib.fm/storage/article/February2023/QJ9nPyz0L7zi0l9vNStb.jpg"
            class="d-block w-100 vki" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Высший колледж информатики Новосибирского государственного университета</h5>
            <p>Высший колледж информатики Новосибирского государственного университета (НГУ) является одним из ведущих
              учебных заведений, готовящих специалистов в области информационных технологий. В условиях стремительного
              развития
              цифровой экономики и роста востребованности IT-специалистов, колледж предоставляет своим студентам
              качественное
              образование и всестороннюю подготовку для успешной карьеры.</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
      <img src="https://itcollegetop.ru/wp-content/uploads/2023/01/ВК_1-2-768x768.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Московский международный колледж цифровых технологий Академия ТОП</h5>
        <p class="card-text">Колледж IT TOP — это международный колледж цифровых технологий «Академия ТОП», который реализует практическую подготовку специалистов в сфере информационных технологий.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">от 3,4 балл платно</li>
        <li class="list-group-item">Нет бюджетных мест</li>
        <li class="list-group-item">300 мест платно</li>
      </ul>
      <div class="card-body">
        <a href="https://topitcollege.ru/novosibirsk?roistat=direct1102_search_16871381405_московский%20международный%20колледж%20цифровых%20технологий%20академия%20топ&roistat_referrer=none&roistat_pos=premium_1&utm_source=yandex&roistat_param1=college_29_IT-college_brand_yandex_cpc_epk-poisk_novosibirsk_minsk-ma_118425494&utm_medium=cpc&utm_campaign=college_29_IT-college_brand_yandex_cpc_epk-poisk_novosibirsk_minsk-ma_118425494&utm_content=adg_5545798851%7Cad_16871381405%7Cph_54372798682%7Ckey_московский%20международный%20колледж%20цифровых%20технологий%20академия%20топ%7Cdev_desktop%7Cpst_premium_1%7Crgnid_65_Новосибирск%7Cplacement_none%7Ccreative_%7Bcreative_name%7D&utm_term=московский%20международный%20колледж%20цифровых%20технологий%20академия%20топ&yclid=6250767990471786495" class="card-link">Офицальный сайт</a>
        
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://cdn2.postupi.online/images/images335x232/44/799.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Новосибирский химико-технологический колледж имени Д.И. Менделеева</h5>
        <p class="card-text">Химический колледж, основанный в 1929 году, – одно из ведущих и старейших учреждений профессионального образования в Сибири, обеспечивающее высокие стандарты подготовки специалистов.

</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">от 4.1 баллов бюджет, от 3.8 баллов платно</li>
        <li class="list-group-item">275 мест бюджет</li>
        <li class="list-group-item">275 мест бюджет</li>
      </ul>
      <div class="card-body">
        <a href="https://nhtk-edu.ru/ru/" class="card-link">Официальный сайт</a>
        
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://cdn2.postupi.online/images/images335x232/32/299.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Новосибирский электромеханический колледж</h5>
        <p class="card-text"> Современный колледж готовит востребованных специалистов среднего звена для обслуживания и ремонта электро- и механического оборудования, автотранспорта, дорожной и строительной техники, а также в сфере электроэнергетики, предоставляя возможность получения дополнительной профессии.
</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">от 3.8 баллов бюджет, от 3.4 баллов платно</li>
        <li class="list-group-item">225 мест бюджет</li>
        <li class="list-group-item">125 мест платно</li>
      </ul>
      <div class="card-body">
        <a href="https://нэмк.рф/" class="card-link">Офицальный сайт</a>
        
      </div>
    </div>
  </div>
   <div class="d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
      <img src="https://cdn2.postupi.online/images/images335x232/41/279.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Новосибирский колледж электроники и вычислительной техники</h5>
        <p class="card-text">предлагает обучение в области электроники, приборостроения и информационных технологий по специальностям, адаптированным к современным требованиям отраслей</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">от 4.0 баллов бюджет, от 3.9 баллов платно</li>
        <li class="list-group-item">250 мест бюджет</li>
        <li class="list-group-item">175 мест платно</li>
      </ul>
      <div class="card-body">
        <a href="http://www.nke.ru/" class="card-link">Офицальный сайт</a>

      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://cdn2.postupi.online/images/images335x232/41/277.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Новосибирский авиационный технический колледж имени Б.С. Галущака</h5>
        <p class="card-text"> ведет подготовку специалистов в различных областях, связанных с авиацией и высокими технологиями. Колледж предлагает разнообразные образовательные программы, охватывающие такие направления, как электроника, информационные технологии, авиационное приборостроение, технологии машиностроения и многие другие..</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">от 4.2 баллов бюджет, от 4.2 баллов платно</li>
        <li class="list-group-item">650 мест бюджет</li>
        <li class="list-group-item">100 мест платно</li>
      </ul>
      <div class="card-body">
        <a href="https://natk.ru/" class="card-link">Офицальный сайт</a>
        
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://cdn2.postupi.online/images/images335x232/41/281.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Новосибирский колледж печати и информационных технологий</h5>
        <p class="card-text">Образовательное учреждение, которое успешно готовит специалистов среднего звена для предприятий полиграфии Сибири. Колледж предлагает программы обучения, охватывающие такие области, как издательское дело, дизайн, а также информационные системы и документооборот.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">от 4.5 баллов бюджет, от 4.5 баллов платно</li>
        <li class="list-group-item">225 мест бюджет</li>
        <li class="list-group-item">95 мест платно</li>
      </ul>
      <div class="card-body">
        <a href="https://printcollege.ru/" class="card-link">Офицальный сайт</a>
        
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>

</body>

</html>