<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/style.css">
</head>

<body>

  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Обзор</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Настройки</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis"></a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">СПО</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="поиск" class="form-control" placeholder="Поиск..." aria-label="Поиск">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Интересы</a></li>
            <li><a class="dropdown-item" href="#">Настройки</a></li>
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Выход</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <h3 align="center"> Топ 5 вузов для поступления IT специалисту</h3>
  <div class="d-flex justify-content-center mt-5">


    <div id="carouselExampleDark" class="carousel slide w-50">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img height="500" src="https://vogazeta.ru/uploads/full_size_1541658131-5e020b3123173eddd878f4577ab9ba89.jpg" class="d-block w-100"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Московский физико-технический институт</h5>
            <p> Один из самых престижных технических вузов страны с сильным отбором, мощной подготовкой по математике и физике, акцентом на прикладное программирование и искусственный интеллект.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img height="500"
            src="https://sun9-13.userapi.com/impf/L8uL9KOIv2BJOzqAmOI-aMznF39gvOtmqxjhdQ/aGPkTPJ8gSU.jpg?size=1818x606&quality=95&crop=0,82,1024,341&sign=cca5dca1cdbc76022496d613cc655b72&type=cover_group"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Университет информационных технологий, механики и оптики (ИТМО)</h5>
            <p>Признанный лидер в олимпиадном программировании. Здесь учат через практику, проектную деятельность и командную работу, делая упор на такие направления, как искусственный интеллект, кибербезопасность и робототехника..</p>
          </div>
        </div>
        <div class="carousel-item">
          <img height="500" src="https://i.pinimg.com/736x/48/25/25/482525ab1233bf8f7cf3e27345510f8b.jpg" class="d-block w-100"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Санкт-Петербургский государственный университет (СПбГУ)</h5>
            <p> Сочетает фундаментальное образование и возможности карьерного роста в IT. Сильная база по математике и информатике, а также сотрудничество с Яндексом и другими лидерами отрасли делают вуз привлекательным для будущих айтишников и исследователей.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img height="500"
            src="https://sun9-23.userapi.com/impg/fE7xspaqzfGB_Q_XluPHwXV4u_MSJHZqj6cc1w/Ug6U0ydo3xE.jpg?size=700x393&quality=96&sign=e5bbae98d2a1a0e12927bdd5423adff1&c_uniq_tag=D-o_AjtjnET3TJVYj510143yKinJAGO589za6apSJ8E&type=album"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Новосибирский государственный университет (НГУ)</h5>
            <p> Славится своей сильной школой математики и информатики, доступом к научной среде Академгородка и программами, ориентированными на искусственный интеллект, аналитику и машинное обучение..</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img height="500" src="https://cdn.iportal.ru/news/2021/99/preview/66d588ff3d06e4888f11d903de7549b8089f521b_1920_1080_c.jpg"
            class="d-block w-100 vki" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Уральский федеральный университет (УрФУ)</h5>
            <p>Предлагает качественные программы по программной инженерии и автоматизации, ориентированные на реальную проектную работу. Вуз активно взаимодействует с индустрией, предоставляя студентам стажировки и опыт участия в коммерческих проектах</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
  <div class="d-flex justify-content-around mt-5">
    {% for spo in University%}
    <div class="card" style="width: 18rem;">
      <img src="{{University[7]}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{University[2]}}</h5>
        <p class="card-text">{{University[3]}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{University[4]}}</li>
        <li class="list-group-item">{{University[5]}}</li>
        <li class="list-group-item">{{University[6]}}</li>
        
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
     </div>
   </div>  
  {% endfor %}
</body>
</html>